@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";

$dark-blue: rgb(43, 37, 100);
$primary-blue: rgb(127, 184, 230);

$title-color: $dark-blue;
$primary: $primary-blue;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

$radius: 8px;

@import "~bulma/bulma.sass";

.section.is-primary {
  background-color: $primary;
}

.section.call-to-action {
  margin-top: 9rem;
}

.section.call-to-action .box {
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
}

.section.call-to-action .title,
.section.call-to-action p {
  color: white;
  margin-bottom: 0;
}

footer .social-icons a.button {
  background-color: transparent;
  color: white;
  border-radius: 100%;
  margin: 0 0.2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.section.is-primary .title {
  color: #fff;
}

.section.is-primary .subtitle {
  color: #fff;
}

body,
button,
input,
select,
textarea {
  font-family: "europa", sans-serif;
}

.section.is-primary.animate {
  background: linear-gradient(-45deg, $primary-blue, $dark-blue, $info, $text);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.post-feature-img {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto -50px auto;
  position: relative;
  z-index: 1;
  background-color: $primary;

  @media (max-width: 1050px) {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
  }

  @media (max-width: 820px) {
    margin: 0 1rem;
    max-width: 800px;
  }
}

.blog-post-card {
  padding: 1rem;
  background-color: #fff;
  color: $text;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  z-index: 2;

  @media (max-width: 820px) {
    margin: 0 1rem;
  }

  @media (max-width: 1050px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.blog-post {
  h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  h4 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  p {
    margin-bottom: 1rem;
  }
  ul li {
    margin-left: 1rem;
    padding-left: 1rem;
    list-style-type: circle;
  }

  ol,
  ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
